body {
  font-family: Arial, sans-serif;
}
button {
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 20px;
  font-size: clamp(8px, 32px, 40px);
  font-family: Arial, sans-serif;
  margin: clamp(0.3em, 0.7em, 1em);
}

button:hover {
  background-color: #dfdfdf;
}
.navbar {
  background: radial-gradient(ellipse at center, #dcdcdc 0%, #a1a1a1 100%);
  height: 100px;
  width: 100%;
  overflow: auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0;
}

.navbar li {
  list-style: none;
  margin: 0 20px;
}

.navbar li a {
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 13px 0;
}

.navbar li a:hover {
  color: white;
  background-color: #a1a1a1;
  border: -5px solid #a1a1a1;
  border-radius: 40px;
}
.main_content {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  margin-left: 30%;
  width: 40%;
}
.main_content h1 {
  font-size: 40px;
  margin-top: 10px;
  border-bottom: #222222 2px solid;
  padding-bottom: 10px;
}
.main_content p {
  font-size: 20px;
  margin: 0;
  padding-top: 10px;
  margin-bottom: 10px;
}
.main_content hr {
  border: 5px solid #222222;
  margin-top: 1px;
  margin-bottom: 1px;
}

.main_content a {
  color: blue;
  text-decoration: none;
  font-size: x-large;
}
.main_content p a {
  color: blue;
  text-decoration: none;
  font-size: 20px;
}

.classes li {
  list-style: none;
  margin: 0 20px;
  padding: 10px;
  border-bottom: 4px solid #222222;
  border-top: 4px solid #222222;
  background: #ffffff;
  text-align: center;
}
.projects li {
  list-style: none;
  margin: 0px;
  padding: 10px;
  border-bottom: 4px solid #222222;
  border-top: 4px solid #222222;
  background: #ffffff;
  text-align: left;
  font-size: 18px;
}
.projects li a {
  color: blue;
  text-decoration: none;
  font-size: 20px;
}
