body {
  font-family: Arial, sans-serif;
}
a {
  color: #266577;
}
button {
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: clamp(1px, 5vw, 20px);
  font-size: clamp(8px, 2vw, 40px);
  font-family: Arial, sans-serif;
  margin: 1.3vw;
  text-decoration: underline 0.3em rgba(0, 0, 0, 0);
  transition: text-decoration 0.3s, text-underline-offset 300ms;
  font-weight: bold;
}

button:hover {
  background-color: white;
  transition: background-color 0.3s;
  background-color: #f1f1f1;
  text-decoration-color: #266577;
  text-underline-offset: 0.1em;
}
.navbar {
  background: white;
  height: 100px;
  width: 100%;
  overflow: auto;
  border-radius: 0px;
  border-bottom: #dfdfdf 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0;
}

.navbar li {
  list-style: none;
  margin: 0 20px;
}

.navbar li a {
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 13px 0;
}

.main_content {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  margin-left: 30%;
  width: 40%;
}
.main_content h1 {
  font-size: 40px;
  margin-top: 10px;
  border-bottom: #222222 2px solid;
  padding-bottom: 10px;
}
.main_content p {
  font-size: 20px;
  margin: 0;
  padding-top: 10px;
  margin-bottom: 10px;
}
.main_content hr {
  border: 5px solid #222222;
  margin-top: 1px;
  margin-bottom: 1px;
}

.main_content li {
  list-style: disc;
  font-size: 20px;
  background: #ffffff;
}
.main_content a {
  text-decoration: underline 0.1em rgba(0, 0, 0, 0);
  transition: text-decoration-color 0.3s, text-underline-offset 0.3s;
}
.main_content a:hover {
  text-decoration-color: #266577;
  text-underline-offset: 0.1em;
}

.classes li {
  list-style: none;
  margin: 0 20px;
  padding: 10px;
  border-bottom: 4px solid #222222;
  border-top: 4px solid #222222;
  background: #ffffff;
  text-align: center;
}
.projects li {
  list-style: none;
  margin: 0px;
  padding: 10px;
  border-bottom: 4px solid #222222;
  border-top: 4px solid #222222;
  background: #ffffff;
  text-align: left;
  font-size: 18px;
}
.projects li a {
  color: #266577;
  text-decoration: underline 0.1em rgba(0, 0, 0, 0);
  font-size: 20px;
  transition: text-decoration-color 0.3s, text-underline-offset 0.3s;
}
.projects li a:hover {
  text-decoration-color: #266577;
  text-underline-offset: 0.1em;
}
.box {
  display: flex;
  align-items: center;
  margin-left: 10%; /* Change margin-right to margin-left */
  margin-top: 10px; /* Add margin-top */
  float: left; /* Change float to left */
}

.box img {
  width: clamp(0%, 300px, 384px);
  border-radius: 10px;
  aspect-ratio: 1 / 1;
}

.error {
  display: grid;
  place-items: center;
  height: 100vh;
  text-align: center;
}

.error h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.error p {
  font-size: 24px;
  margin-bottom: 20px;
}

.error a {
  color: #266577;
  font-weight: bold;
  font-size: 30px;
  text-decoration: underline 0.1em rgba(0, 0, 0, 0);
  transition: text-decoration-color 0.3s, text-underline-offset 0.3s;
}

.error a:hover {
  text-decoration-color: #266577;
  text-underline-offset: 0.1em;
}

.main-text ul li {
  size: 16px;
}

.breadcrumbs {
  margin: 1 left;
  padding-left: 1em;
  padding-right: 1em;
}

.breadcrumbs::after {
  clear: both;
  content: "";
  display: table;
}

@media (min-width: 80em) {
  .breadcrumbs {
    max-width: 1280px;
  }
}

.breadcrumbs ol {
  padding: 0;
  list-style: none;
  font-size: 0.75em;
}

@media (min-width: 64em) {
  .breadcrumbs ol {
    float: right;
    width: calc(100% - 200px);
  }
}

@media (min-width: 80em) {
  .breadcrumbs ol {
    width: calc(100% - 300px);
  }
}

.breadcrumbs li {
  display: inline-block;
  direction: ltr;
}

.breadcrumbs .current {
  font-weight: bold;
}
