body {
  font-family: Arial, sans-serif;
}

button {
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
}

button:hover {
  background-color: #dfdfdf;
}
.navbar {
  background: radial-gradient(ellipse at center, #dcdcdc 0%, #a1a1a1 100%);
  overflow: auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.navbar li {
  list-style: none;
  margin: 0 10px;
}

.navbar li a {
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 15px 0;
}

.rounded-square {
  border: 2px solid #a1a1a1;
  background: #dcdcdc;
  border-radius: 25px;
  padding: 20px;
  margin: 10px;
}

.sidebar {
  position: fixed;
  border-radius: 10px;
  width: 150px;
  height: 900px;
  background-color: #f5f5f5;
  overflow: auto;
  top: 120px;
}
.sidebar ul {
  list-style-type: none;
  padding: 5px;
}

.sidebar li {
  border-bottom: 2px solid #999999;
  padding: 0;
}

.sidebar li a {
  color: black;
  text-decoration: none;
  padding: 5px;
  display: block;
}
.main-content {
  margin-left: 110px; /* Adjust this value as needed */
  padding: 10px;
  width: clamp(100px, 80%, 1000px);
}
.code-block {
  background-color: #f5f5f5;
  border-radius: 0px;
  padding: 10px;
  margin: 10px;
}
